// font families
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");

// Variables
$primary-color: #eee;
$dark-color: #444;
$light-text-color: #efefef;
$brand-color: #3b7d8e;
$button-color: #eece1a;
$show-hero-image: true;

// mixins
@mixin ease {
  transition: all 0.1s ease;
}

@mixin ease-in-out {
  transition: all 0.4s ease-in-out;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
