.dashboard-main {
  margin-left: 15%;

  .synced-chart-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .bar-chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .charts {
    padding: 1rem;
  }
}
