.dashboard-main {
  margin-left: 15%;

  .synced-chart-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .bar-chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .charts {
    padding: 1rem;
  }
}

.page-modal {
  .page-content {
    width: 55%;
    background-color: darken($primary-color, 3);
  }
  .page-form {
    margin: 1rem;
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 0.4rem 0.8rem;

      font-size: 1rem;
      line-height: 1.5;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid $primary-color;
    }
  }
  .btn {
    margin: 1rem;
    text-align: center;
  }
  .checkbox {
    text-align: center;
  }
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.table-map {
  padding: 1rem;
}
.customers-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid darken($primary-color, 12);
  letter-spacing: 1px;
  font-size: 1.1rem;
  caption {
    background-color: darken($primary-color, 8);
    padding: 0.5rem;
    font-weight: 600;
    background-color: darken($brand-color, 10);
    color: $light-text-color;
  }
  td,
  th {
    border-top: 1px solid darken($primary-color, 10);
    padding: 1rem;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: darken($primary-color, 8);
  }
  th[scope="col"] {
    padding: 0.7rem;
  }
}

.world-map {
  background: url("../img/World-Map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: 1px solid darken($primary-color, 10);
  background-color: #f7f7f7;
  padding: 1rem;
}

.dashboard-footer {
  margin-left: 15%;
  margin-top: 5rem;
}
