.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: $primary-color;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  .brand {
    text-decoration: none;
    color: $dark-color;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;

    & span {
      color: $brand-color;
    }
  }
}
.menu {
  display: flex;
  flex-flow: row wrap;
  // justify-content: flex-start;
  margin-left: auto;

  & li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .menu-item {
    text-decoration: none;
    color: $dark-color;

    &:hover {
      color: lighten($dark-color, 5);
      border-bottom: 3px solid $dark-color;
      @include ease();
    }
  }
  .active-menu {
    background: $brand-color;
    padding: 0.4rem;
    border-radius: 3px;

    &:hover {
      background: darken($brand-color, 10);
      @include ease-in-out();
    }
    a {
      text-decoration: none;
      color: $light-text-color;
    }
  }
}
.btn {
  background-color: $button-color;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: darken($button-color, 10);
    @include ease-in-out();
  }
}

// dashboard navbar
.dashboard-nav {
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  position: fixed;
  background: darken($brand-color, 10);
  padding: 3rem 1.5rem;
  color: $light-text-color;
  letter-spacing: 0.5px;
  line-height: 1.5;

  .brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
    span {
      color: darken($button-color, 10);
    }
  }

  li {
    list-style: none;
    // margin-right: 0.5rem;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    color: $light-text-color;
    &:hover {
      color: darken($button-color, 10);
    }
  }
}

.dashboard-menu,
.menu-right {
  font-size: 1.1rem;
  padding: 0;
  margin-top: 2rem;
}

// dashboard header
.dashboard-header {
  background-color: $dark-color;
  margin-left: 15%;

  h1 {
    color: $light-text-color;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    text-align: left;
    display: inline-block;
  }
  i {
    font-size: 2rem;
  }

  .add-page {
    float: right;
    margin: 1rem;
    padding: 0.8rem;
  }
}
