// Colors
$priary-color: #eee;
$dark-color: #444;
$light-text-color: #efefef;
$brand-color: #3b7d8e;
$button-color: #eece1a;

@mixin ease {
  transition: all 0.1s ease;
}

// @mixin hero-background{
//   @if $show-hero-image {
//     &.hero-image{
//       background: $
//     }
//   }
// }

* {
  box-sizing: border-box;
}
body {
  background: $priary-color;
  color: $dark-color;
  height: 100%;
  margin: 0;
  font-family: "Lato";
  line-height: 1.5;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: $dark-color;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;

  .brand {
    text-decoration: none;
    color: $light-text-color;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;

    & span {
      color: $brand-color;
    }
  }
}
.menu {
  display: flex;
  flex-flow: row wrap;
  // justify-content: flex-start;
  margin-left: auto;

  & li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: $light-text-color;

    &:hover {
      color: lighten($light-text-color, 5);
      border-bottom: 3px solid $light-text-color;
      @include ease();
    }
  }

  .login-btn {
    background-color: $button-color;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: darken($button-color, 7);
    }
  }
}

.hero {
  height: 100%;
  width: 100%;
  background: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
