@import "config";
@import "navbar";
@import "footer";
@import "services";
@import "solutions";
@import "news";
@import "contact";
@import "login";
@import "dashboard";

* {
  box-sizing: border-box;
}
body {
  background: $primary-color;
  color: $dark-color;
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 3rem;
  color: darken($dark-color, 10);
}

i {
  font-size: 4rem;
}

#hero {
  background: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// @include hero-background;
.hero {
  margin-top: 6rem;
  min-height: 70vh;
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(darken($dark-color, 10), 0.5);
  }
}

.hero-text {
  color: $light-text-color;
  font-size: 4rem;
  font-weight: 400;
  padding-top: 20vh;
  text-align: center;
}

.logo {
  max-width: 100vw;
  max-height: 20vh;
  text-align: center;
  opacity: 0.5;
  margin: 2rem;
  color: $brand-color;

  i {
    padding: 0 2rem;
  }
}

hr {
  background-color: lighten($dark-color, 5);
  width: 90%;
  margin-top: 2rem;
}

.container {
  max-width: 80vw;
  margin: auto;
}

.paragraph {
  font-size: 1.2rem;
}

.image-grid {
  display: grid;
  grid-template-areas:
    "team work"
    "buildings buildings";
  grid-gap: 0.2rem;
  margin-top: 4rem;

  .block-img1 {
    grid-area: "team";
    width: 100%;
    height: 100%;
  }

  .block-img2 {
    grid-area: "work";
    width: 100%;
    height: 100%;
    // padding: 0.2rem;
  }

  .block-img3 {
    grid-column: 1 / 3;
    grid-area: "buildings";
    width: 100%;
    height: 50vh;
  }
}
.home-image {
  position: relative;

  & img:hover {
    opacity: 0.8;
  }

  &:hover .wrap {
    opacity: 1;
  }
}
.wrap {
  background: rgba(darken($button-color, 30), 0.6);
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  @include ease-in-out;

  p {
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: 10vh;
    color: #fff;
  }
}

.bottom {
  margin-top: 4rem;

  article {
    float: left;
    width: 65%;
    margin-bottom: 4rem;
  }

  aside {
    float: right;
    width: 30%;
    margin-top: 3rem;
    margin-bottom: 4rem;

    img {
      width: 100%;
      height: 40vh;
    }

    li {
      list-style: none;
      color: darken($brand-color, 5);
    }
  }
}
@import "responsive";
